#root{
    overflow-x: hidden;
}
.main{
    width: 100vw;
    height: 300vh;
    position: relative;
    overflow-x: hidden;
}

.navbar{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    z-index: 100;
    /* height: 80px; */
}
.navbar__top{
    width: 100%;
    height: 80px;
    background-color: white;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    margin-left: 40px;
    margin-top: -3px;
}
.logo__icon{
    transition: all 2s;
    margin-top: 7px;
    border: 14px solid transparent; 
    border-top: 14px solid rgba(48, 213, 199, 0.79);
    /* animation-name: logo; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.logo__text{
    font-family: "Video-Regular";
    font-size: 25px;
    margin-left: 10px;
}
.links{
    margin-top: 2px;
    display: flex;
    font-family: "OpenSans-Regular";
    font-size: 20px;
    margin-right: 60px;
}
.link{
    /* transition: all 0.3s; */
    cursor: pointer;
    margin-left: 35px;
    height: 40px;
    display: flex;
}
.phoneIcon{
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.link:hover{
    border-bottom:2px rgba(48, 213, 199, 0.79) solid;
}
.navbar__bottom{
    position: sticky;
    top: 0; left: 0;
    width: 100%;
    height: 55px;
    /* background-color: rgba(48, 144, 213, 0.79); */
    background: rgba(48, 144, 213, 0.79);
    /* box-shadow: 0 -200px 100px -120px crimson inset; */
    animation: background 7s infinite alternate;
    padding-top: 30px;
}

.search{
    width: 280px;
    height: 1px;
    background-color: rgb(203, 203, 203);
    /* border-radius: 5px; */
    margin-left: 1500px;
}

.sidebar{
    position: fixed;
    top: 180px;
    z-index: 100;
}

.titleSideBar{
    width: max-content;
    font-family: "OpenSans-Regular";
    font-size: 23px;
    margin-left: 40px;
    border-bottom: 1px rgba(48, 213, 199, 0.6) solid;
}

.type__choose{
    /* display: grid;
    grid-template-columns: 120px 130px ; */
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
}

.type{
    width: max-content;
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.brand{
    width: max-content;
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
}

.type:hover{
    border-bottom: 1px rgba(48, 213, 199, 0.6) solid;
}

.unactive{
    color: grey;
    opacity: 0.6;
}

.unactive:hover{
    border-bottom: 0px rgba(48, 213, 199, 0.6) solid !important;
}

.content{
    position: absolute;
    width: 300px;
    height: 500px;
    top: 150px;
    left: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* background-color: green; */
}

.product{
    width: 500px;
    height: auto;
    /* border: 2px solid blue */
}
.none{
    display: none;
}
.product__img{
    margin: auto;
    width: 350px;
    height: auto;
}

.product__name{
    font-family: "OpenSans-Regular";
    font-size: 16px;
    text-align: center;
}

.costAction{
    display: flex;
    text-align: center;
     justify-content: center;
    margin-top: 10px;
    
}
.product__cost{
    font-family: "OpenSans-Regular";
    font-size: 16px;
}
.action{
    cursor: pointer;
    font-family: "OpenSans-Regular";
    font-size: 14px;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: rgba(48, 213, 199, 0.8);
    padding-top: 3px;
    margin-left: 13px;
    opacity: 0.6;
    /* margin: auto; */
    /* justify-content: center; */
}


  
  @keyframes background {
    50% {
      background: rgba(48, 213, 199, 0.79);
      /* box-shadow: 0 -200px 100px -100px yellowgreen inset; */
    }
  }

.footer{
    position: absolute;
    width: 100vw;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: rgba(48, 213, 199, 0.6);
}

@keyframes logo {
    0%{
        border: 14px solid transparent; 
        border-top: 14px solid rgba(48, 213, 199, 0.79);
    }
    50%{
        border: 14px solid transparent; 
        border-bottom: 14px solid rgba(48, 213, 199, 0.79);
        margin-top: -10px;
    }
    100%{
        border: 14px solid transparent; 
        border-top: 14px solid rgba(48, 213, 199, 0.79);
    }
}


@font-face {
    font-family: 'Montserrat-Light';
    src:url('../img/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}


@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../img/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src:url('../img/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-Italic';
    src:url('../img/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src:url('../img/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Bold';
    src:url('../img/fonts/SourceSerif4Caption-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Regular';
    src:url('../img/fonts/SourceSerif4Caption-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Video-Regular';
    src:url('../img/fonts/Video-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:url('../img/fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}



.editor__body{
    /* width: ; */
    width: 100vw;
    height: 100vh;
    position: relative;
}
.keyboardEditor{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: auto;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    border: 2px #83898c solid;
    box-shadow: 0px 0px 10px #00000029;
    padding-top: 30px;
    padding-left: 15px;
    display: flex;
}



#keyboardPanel {
    
    font-family: "Montserrat-Light";
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 15px;
    /* display: flex; */
}
#keyboardPanel li {
    transition: all 0.5s;
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #83898c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 3px #00000029;
    

}
li{
    /* animation-name: rgbLed;
    animation-duration: 7s;
    animation-iteration-count: infinite; */
    /* animation: none; */
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboardPanel .tab, #keyboardPanel .delete {
    width: 70px;
}
#keyboardPanel .capslock {
    width: 80px;
}
#keyboardPanel .return {
    width: 77px;
}
#keyboardPanel .left-shift {
    width: 95px;
}
#keyboardPanel .right-shift {
    width: 109px;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboardPanel .space {
    clear: left;
    width: 660px;
}
.on {
    display: none;
}

.df{
    display: flex;
}
.color{
    margin-top: 8px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(144, 144, 144);
}
.sg{
    background-color: #83898c;
}
.pink{
    background-color: pink;
}
.w{
    background-color: white;
}

#classicForm{
    border-bottom: 1px rgba(48, 213, 199, 0.6) solid ;
}
#whiteColor{
    border-bottom: 1px rgba(48, 213, 199, 0.6) solid ;
}
#noLed{
    border-bottom: 1px rgba(48, 213, 199, 0.6) solid ;
}

.touchPad{
    width: 200px;
    height: 220px;
    border: 1px solid #83898c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 3px #00000029;
    margin-right: 20px;
    margin-left: 15px;
    display: none;
    background-color: white;
    /* visibility: hidden; */
}
/* #keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
} */


@keyframes rgbLed {
    0%{
        box-shadow: 0px 0px 6px rgba(253, 1, 1, 0.541); 
    }
    33.33%{
        box-shadow: 0px 0px 6px rgba(0, 128, 0, 0.549);
    }
    66.66%{
        box-shadow: 0px 0px 6px rgba(0, 0, 255, 0.54);  
    }
}


@media(min-width: 100px) and (max-width: 1919px) {
    
    .navbar__top{
        height: calc(42.4px + (80 - 80*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        padding-top: calc(13.25px + (25 - 25*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .logo{
        margin-left: calc(21,2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-top: calc(1.59px + (-3 - -3*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .logo__icon{
        margin-top: calc(3.71px + (7 - 7*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        border-width: calc(7.42px + (14 - 14*0.53) * ((100vw - 1024px) / (1920 - 1024))) ; 
        border-top-width: calc(7.42px + (14 - 14*0.53) * ((100vw - 1024px) / (1920 - 1024))) ; 
    }

    .logo__text{
        font-size: calc(13.25px + (25 - 25*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024))); 
    }

    .links{
        margin-top: calc(1.06px + (2 - 2*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        font-size: calc(10.6px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-right: calc(31.8px + (60 - 60*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .link{
        margin-left: calc(18.55px + (35 - 35*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .phoneIcon{
        width: calc(15.9px + (30 - 30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(15.9px + (30 - 30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .navbar__bottom{
        height: calc(29.15px + (55 - 55*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        padding-top: calc(15.9px + (30 - 30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .sidebar{
        top: calc(95.4px + (180 - 180*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .titleSideBar{
        font-size: calc(12.19px + (23 - 23*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .type__choose{
        margin-top: calc(10.6px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-bottom: calc(26.5px + (50 - 50*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .type{
        font-size: calc(8.48px + (16 - 16*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-top: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .brand{
        font-size: calc(8.48px + (16 - 16*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-top: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    
    .content{
        width: calc(159px + (300 - 300*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(265px + (500 - 500*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        top: calc(79.5px + (150 - 150*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        left: calc(159px + (300 - 300*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        grid-column-gap: calc(10.6px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        grid-row-gap: calc(10.6px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .product{
        width: calc(265px + (500 - 500*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .product__img{
        width: calc(185.5px + (350 - 350*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .product__name{
        font-size: calc(8.48px + (16 - 16*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .costAction{
        margin-top: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    .product__cost{
        font-size: calc(8.48px + (16 - 16*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .action{
        font-size: calc(7.42px + (14 - 14*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(53px + (100 - 100*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(15.9px + (30 - 30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        border-radius: calc(3.71px + (7 - 7*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        padding-top: calc(1.59px + (3 - 3*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(6.89px + (13 - 13*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .keyboardEditor{
        height: calc(159px + (300 - 300*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        border-radius: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        padding-top: calc(15.9px + (30 - 30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        padding-left: calc(7.95px + (15 - 15*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    
    
    #keyboardPanel {
        margin-right: calc(7.95px + (15 - 15*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        font-size: calc(7.42px + (14 - 14*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    #keyboardPanel li {
        margin-right:  calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-bottom:  calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024))) ;
        width: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        line-height: calc(21.2px + (40 - 40*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        -moz-border-radius: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        -webkit-border-radius: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    #keyboardPanel .tab, #keyboardPanel .delete {
        width: calc(37.1px + (70 - 70*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #keyboardPanel .capslock {
        width: calc(42.4px + (80 - 80*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #keyboardPanel .return {
        width: calc(40.81px + (77 - 77*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #keyboardPanel .left-shift {
        width: calc(50.35px + (95 - 95*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    #keyboardPanel .right-shift {
        width: calc(57.77px + (109 - 109*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .lastitem {
        margin-right: 0;
    }

    #keyboardPanel .space {
        width: calc(349.8px + (660 - 660*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .color{
        margin-top: calc(4.24px + (8 - 8*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(5.3px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    
    .touchPad{
        width: calc(106px + (200 - 200*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(116.6px + (220 - 220*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        -moz-border-radius: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        -webkit-border-radius: calc(2.65px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-right: calc(10.6px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(7.95px + (15 - 15*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
   

}