<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Конструктор периферии</title>
    <link rel="stylesheet" href="{% static "catalog.css"%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Source+Code+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <header class="fields">
        <img src="{% static "logo.png"%}" alt="" class="pic">
        <div class="but_panel">
            <button class="main_but"><a href="#" class="a">Конструктор</a></button>
            <button class="marginal_text buts"><a href="#" class="a">Избранное</a></button>
            <button class="marginal_text buts"><a href="choosen.html" class="a">Корзина</a></button>
        </div>
    </header>
    <nav class="nav">
    </nav>

    <main class="fields">
        <div class="sidenav">
            <p class="filters"><b>Тип подключения</b>
                <form class="filters">
                    <input type="checkbox"><label> Проводная </label><br>
                    <input type="checkbox"><label> Bluetooth</label><br>
                    <input type="checkbox"><label> USB-адаптер</label>
                </form>
            </p>
            <p class="filters"><b>Подсветка</b>
                <form class="filters">
                    <input type="checkbox"><label> есть </label><br>
                    <input type="checkbox"><label> нет</label>
                  </form>
            </p>
            <p class="filters"><b>Цена</b>
                <form class="filters">
                    <input><input>
                  </form>
            </p>
            <p class="filters"><b>Количество кнопок</b>
                <form class="filters">
                    <input type="checkbox"><label> 3 </label><br>
                    <input type="checkbox"><label> 5</label><br>
                    <input type="checkbox"><label> 9</label><br>
                    <input type="checkbox"><label> 16 и более </label>
                </form>            
            </p>            
        </div>

        <div class="example">
            

        </div>

        
    </main>

    <footer class="foot">
        <p class="marginal_text">2022 ©</p>
    </footer>
</body>

</html>